<%- include("./includes/header.ejs", {title: title}); %>

<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<br />
<a href="/recipe/about">About this Recipe Application</a>
<br />
<br />
<br />
<a href="/recipe/all">Recipe - View All</a>
<br />
<br />
<a href="/menu/all">Menu - View All</a>
<br />
<br />
<a href="/type/all">Recipe Type - View All</a>
<br />
<br />
<a href="/recipe/searchAll">Looking for a Recipe?</a>

<br />

<%- include("./includes/footer.ejs"); %>
