<%- include("../includes/header.ejs", {title:"Menu"}); %>
<h1>Menu</h1>
<ul>
    <li>Menu Name: <%= result[0].menu_name %></li>
    <li>Description: <%= result[0].description %></li>
    <li>Recipe(s):
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <li><%= result[i].recipe_name %></li>
            <% } %>
        </ul>
    </li>
</ul>
<br />
<a href="/menu/all"><< back to Menu - View All </a>

<%- include("../includes/footer.ejs"); %>