<%- include("../includes/header.ejs", {title:"Menu - View All"}); %>

<h1>Menus</h1>

<br />
<% if (locals.was_successful) {%>
<div class = "col-md-12">
    <div id = "message" class="alert alert-success col-md-4">
        <%= locals.menu_name + " was " + locals.what + "!" %>
    </div>
</div>
<%}%>
<br />

<b><a href="/menu/add">Add New Menu</a></b> <br />

<br />

<table border="1">
    <tr><th>Menu Name</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/menu/?menu_id=<%= result[i].menu_id %>"><%= result[i].menu_name %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/menu/edit/?menu_id=<%= result[i].menu_id %>'">Edit</button>
            <form action="/menu/delete/" style="display:inline;">
                <input type="hidden" name="menu_id" id="menu_id" value="<%= result[i].menu_id %>" />
                <input type="hidden" name="menu_name" id="menu_name" value="<%= result[i].menu_name %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>

<br />
<a href="/"><< back to My Recipe - Home </a>

<%- include("../includes/footer.ejs"); %>