<%- include("../includes/header.ejs", {title:"Create New Menu"}); %>
<h1>Create New Menu</h1>
<form action="/menu/insert" method="post">
    Menu Name: <input id="menu_name" name="menu_name" type="text" size="50" maxlength="50"/>
    <br />
    <br />
    Description:
    <br />
    <input id="description" name="description" type="text" size="50" maxlength="250"/>
    <br />
    <br />
    Recipes:
    <br />
    <select id="recipe_id" name="recipe_id" multiple="multiple">
        <% for(var i=0; recipe.length > i; i++ ) { %>
        <option value="<%= recipe[i].recipe_id %>"><%= recipe[i].recipe_name %></option>
        <% } %>
    </select>
    <br />
    <br />
    <!-- Initialize the multiselect plugin: for drop down menu-->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#recipe_id').multiselect();
        });
    </script>

    <br />
    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>