<h1>Update <%= result[0].type_name%></h1>
<form action="/type/update" method="post">
    <br />
    <input type="hidden" id="type_id" name="type_id" value="<%= result[0].type_id %>">

    Type Name: <input id="type_name" name="type_name" type="text" size="30" maxlength="50" value="<%= result[0].type_name%>"/>

    <br />
    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>