<%- include("../includes/header.ejs", {title:"Recipes"}); %>
<h1>Recipe</h1>
<ul>
    <li>Recipe Name: <%= recipe.recipe_name %></li>
    <li>Creator Name: <%= recipe.creator %></li>
    <li>Description: <%= recipe.description %></li>
    <br />
    <li>Inactive Time: <%= recipe.inactive_time %></li>
    <li>Preparation Time: <%= recipe.prep_time %></li>
    <li>Cooking Time: <%= recipe.cook_time %></li>
    <br />
    <li>Type(s):
        <ul>
            <% for(var i=0; type.length > i; i++ ) { %>
            <li><%= type[i].type_name %></li>
            <% } %>
        </ul>
    </li>
    <br />
    <li>Ingredient(s):
        <ul>
            <% for(var i=0; ingredient.length > i; i++ ) { %>
            <li><%= ingredient[i].ingredient_name %></li>
            <% } %>
        </ul>
    </li>

    <br />
    <li>
        <% var i = recipe.instruction;
        var j = i.trim();
        if (j.startsWith("http")) { %>
        <a href="<%= recipe.instruction%>">Instruction Link</a></li>
    <%} else {%>
    <%="Instruction Location: " %><%= recipe.instruction %>
    <%}%>

    </li>
</ul>

<a href="/recipe/all"><< back to Recipe - View All </a>

<%- include("../includes/footer.ejs"); %>
