<%- include("../includes/header.ejs", {title:"Recipes Found"}); %>

<h1>Recipes Found</h1>

<br />

<br />
<% if (result.length == 0 ) {%>
<div class = "col-md-12">
    <div id = "message" class="alert alert-success col-md-4">
        <%= "Sorry! No Recipes Found" %>
    </div>
</div>
<%}%>

<table border="1">
    <tr><th>Recipe Name</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/recipe/?recipe_id=<%= result[i].recipe_id %>"><%= result[i].recipe_name %></a></td>
    </tr>
    <% } %>
</table>
<br />
<a href="/"><< back to My Recipe - Home </a>

<%- include("../includes/footer.ejs"); %>
