<%- include("../includes/header.ejs", {title: "Looking For Recipes"}); %>

<h1>Looking For Recipes</h1>



<form action="/recipe/search" method="get">
    Filters:
    <br />
    Recipe Full or Partial Name: <input id="recipe_name" name="recipe_name" type="text" size="30" maxlength = "50"/>
    <br />
    <br />
    Creator Full or Partial Name: <input id="creator" name="creator" type="text" size="30" maxlength = "50"/>
    <br />
    <br />
    Ingredient Name: <input id="ingredient" name="ingredient" type="text" size="30" maxlength = "50"/>
    <br />
    <br />
    Total Time Limit: <input id="recipe_hour" name="recipe_hour" type="number" min="0" max="100" /> hours
    <input id="recipe_minute" name="recipe_minute" type="number" min="0" max="59" /> minutes
    <br />
    <br />
    Type
    <br />
    <select id="type_id" name="type_id" multiple="multiple">
        <% for(var i=0; type.length > i; i++ ) { %>
        <option value="<%= type[i].type_id %>"><%= type[i].type_name %></option>
        <% } %>
    </select>
    <br />

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#type_id').multiselect();
        });
    </script>

    <br />
    <input type="submit" />

</form>
<br />
<b>==============================================================</b>
<br />
<br />
<form action="/recipe/searchLess" method="get">
    Looking for recipes that has less than
    <input id="num_ingredient" name="num_ingredient" type="number" min="2" max="7" value="7"/> ingredients.
    <br />
    <input type="submit" />

</form>

<br />
<b>==============================================================</b>
<br />
<br />
<form action="/recipe/searchNoIngredient" method="get">
    Looking for recipes that DO NOT HAVE the ingredient:
    <input id="no_ingredient" name="no_ingredient" type="text" size="30" maxlength="50" />
    <br />
    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>