<%- include("../includes/header.ejs", {title:"Recipe - View All"}); %>

<h1>Recipes</h1>


<br />
<% if (locals.was_successful) {%>
<div class = "col-md-12">
    <div id = "message" class="alert alert-success col-md-4">
        <%= locals.recipe_name + " was " + locals.what + "!" %>
    </div>
</div>
<%}%>
<br />
<b><a href="/recipe/add">Add New Recipe</a> </b><br />
<br />
<table border="1">
    <tr><th>Recipe Name</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/recipe/?recipe_id=<%= result[i].recipe_id %>"><%= result[i].recipe_name %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/recipe/edit/?recipe_id=<%= result[i].recipe_id %>'">Edit</button>
            <form action="/recipe/delete/" style="display:inline;">
                <input type="hidden" name="recipe_id" id="recipe_id" value="<%= result[i].recipe_id %>" />
                <input type="hidden" name="recipe_name" id="recipe_name" value="<%= result[i].recipe_name %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
<br />

<a href="/"><< back to My Recipe - Home </a>

<%- include("../includes/footer.ejs"); %>
